/* Start coding here */
/* Dev 1 : Nav Bar + Hero Section */

/* Dev 2 : Feature Section */
.feature-section {
  display: flex;
  width: 100vw;
  justify-content: center;
}

.feature-cards {
  display: flex;
  width: 1201px;
  height: 272px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.feature-box {
  display: flex;
  flex-direction: column;
  width: 387px;
  height: 272px;
  border-radius: 24px;
  padding: 28px;
  gap: 20px;
}

.feature-box--1 {
  background-color: #D7E5F6;
}

.feature-box--2 {
  background-color: #D8E0FC;
}

.feature-box--3 {
  background-color: #E8DCF6;
}

.feature-headline {
  font-size: 24px;
  font-weight: 600;
}

.feature-content {
  font-size: 16px;
  font-weight: 500;
  color: #5F5F76;
}

.feature-section img {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

.feature-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


/* Dev 3 : Contact Section */

